
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');

body {
    font-family: 'Edu AU VIC WA NT Arrows', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
}

header {
    background-color: #003366;
    color: white;
    padding: 20px;
    
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
     
}

nav ul li {
    margin: 0 15px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Big Shoulders Stencil', sans-serif;
    
}

/* Hover effect for navigation links */
nav ul li a:hover {
    color: #ffcc00; /* Changes color on hover */
    text-decoration: underline;
    
}

.card {
    background-color: white;
    margin: 20px auto;
    padding: 15px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 1rem auto;
}

footer {
    background-color: #003366;
    color: white;
    padding: 10px;
    margin-top: 20px;
    }
