@media screen and (min-width: 768px) {
    
    nav ul {
        display: flex;
        position: static;
        background: none;
        justify-content: center;
    }

    nav ul li {
        display: inline;
        padding: 10px 15px;
    }

    #menu-toggle {
        display: none; 
    }

  
    
