@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'PT Serif', sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

#menu-toggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    position: absolute; 
    right: 15px;
    top: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: row;
    background-color: #444;
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #555;
}


footer {
    background-color: #1ABC9C;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

.show {
    display: flex;
    flex-direction: column;
}




.temple-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 15px; 
}

.temple-card {
    background: lightblue;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 100%; 
    max-width: 300px; 
    overflow: hidden; 
}

.temple-card img {
    width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 5px; 
}

@media (min-width: 600px) {
    .temple-card {
        width: 48%; 
    }
}

@media (min-width: 900px) {
    .temple-card {
        width: 30%;
    }
}