@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'PT Serif', sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

#menu-toggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    position: absolute; 
    right: 15px;
    top: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: row;
    background-color: #444;
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Album Section */
.album {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 15px;
}

figure {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

figcaption {
    font-weight: bold;
    margin-top: 5px;
}


footer {
    background-color: #1ABC9C;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

.show {
    display: flex;
    flex-direction: column;
}